<div id=banner>
    <div class="banner_content">
        <h1> File Cabinet </h1><p>
        Your Life's work. Organizes, always.<p>
        <%= link_to  "Enter", new_user_registration_path, class: "button" %>
    </div>
</div>

<div id="callouts">
    <div class="callout_inner">
        <div class="wrapper">
            <div class="callout">
                <h2> Organize </h2><p>
                Lorem ipsum dolor amet la croix hot chicken try-hard PBR&B whatever knausgaard. 
                Keytar freegan before they sold out celiac waistcoat, meditation asymmetrical. Air plant roof party 
                PBR&B, live-edge readymade fingerstache health goth pok pok deep v tilde vice waistcoat. Banjo palo santo man braid 
                pitchfork bitters hexagon actually lumbersexual chambray viral deep v skateboard health goth lo-fi art party. Neutra la croix 
                tousled wayfarers waistcoat +1 sustainable, 8-bit you probably haven't heard of them photo booth pitchfork hexagon selvage fingerstache. 
                Whatever PBR&B authentic squid adaptogen. Deep v you probably haven't heard of them vegan direct trade tumblr master cleanse, four dollar toast 
                swag food truck art party leggings.
            </div>
        </div>
    </div>
</div>

<div id="bottom_cta">
    <div class="wrapper">
        <h2> Go Ahead!</h2>
        </br>
        <%= link_to  "Join Now", new_user_registration_path, class: "button" %>
